@import "../../variables.css";

.lk-aside {
  &-sidebar {
    &__links {
      a {
        &:hover {
          color: var(--orange-l);
        }
      }
    }
  }
  .b-form {
    &__bottom {
      a:not(.btn):hover {
        color: var(--orange-l);
      }
    }
  }
}