@import "../../variables.css";

.basket-top {
  &__item {
    &:hover #tooltip-question-Path_56 {
      fill: var(--orange-l) !important;
    }
  }
  &__clear {
    &:hover {
      color: var(--orange-l);
      .plus {
        &:before,
        &:after {
          background-color: var(--orange-l);
        }
      }
    }
  }
}